

body{
    background-color: black;
    margin:1em;
}
h2{
    font-size: 7em;
    text-align: center;
    color: aliceblue;
  
}


.instruments{
    margin-left:8em;
    width: 40%;
    height:40%;
    cursor:grabbing;
}

.instruments img:hover {
    opacity:.5;
}

#container {
width: 1920px;
  
}

.theSystem{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin: 1em;
    color:beige;
    padding: .5em;

}

.mixer{
display:block;
}


#control img{
    width: 50%;
    height: 50%;

}
#control {
    margin-left: 10em;
    align-self:flex-end;
  
}


.drop-zone {
	width: 35%;
  height: 20%;
  border: dashed rgb(240, 236, 8);
  border-radius: 5em;
  margin: 2em;
  
}








