@charset "utf-8";

body{
    background-color: black;
    margin:1em;
}
h2{
    font-size: 7em;
    text-align: center;
    color: aliceblue;
  
}
.hidden{
    display:none;
}

.instruments{
    width: 40%;
    /*margin-left:8em;
    height:40%;*/
   /* cursor:grabbing;*/
}

.instruments img:hover {
    opacity:.5;
}

#container {
width: 1820px;
}

.theSystem{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-left: 9em;
    color:beige;
    padding: .5em;

}

.mixer{
display:block;
}


#control img{
    width: 50%;
    height: 50%;

}
#control {
    margin-left: 10em;
    align-self:flex-end;
  
}


.drop-zone {
  height: 180px;
  width: 180px;
  border: solid 3px rgb(240, 236, 8);
  border-radius: 8em;
  margin: 2em;
  
}

.drop-zone img {
    width: 100% !important;
}

/*
#inst1 img{
    width:100%;
}

#inst2 img{
    width:100%;
}

#inst3 img{
    width:100%;
}

#inst4 img{
    width:100%;
}

#inst5 img{
    width:100%;
}

#inst6 img{
    width:100%;
}

#inst7 img{
    width:100%;
}

#inst8 img{
    width:100%;
}*/







